@mixin tamanio($ancho, $altura) {
    width:$ancho;
    height: $altura;
}

.imagenesGrandes {
    @include tamanio(61%, 69%);
   margin: 8% 15% 8% 15%;
   
}




.instragramLogo{
    @include tamanio(50px, 50px);
    margin: 15px;
    display: block;
}
